@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* body {
    color: #333;
}

html,
body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 18px;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

.screen {
    display: flex;
    border: 10px solid #000000;
}

/********************************* Main Body *********************************/

.main-body {
    flex-direction: column;
    position: relative;
    z-index: 1;
    display: flex;
    overflow-x: hidden;
    margin-left: 193px;
}

.main-content {
    margin: 75px 10px 10px 7px;
    padding: 0px 15px 15px 15px;
    flex-direction: column;
    overflow-x: hidden;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    overflow: hidden;
}

.main-content h1 {
    font-size: 25px;
    padding: 0px;
    color: #333;
}

iframe {
    width: 100%;
    height: 90vh;
    border: none;
}

.main-content,
.p {
    font-size: 14px;
    color: #333;
}