@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #F8F8F8;
}

.screen {
  display: flex;
  border: 10px solid #000000;
}

/********************************* Main Body *********************************/

.main-body {
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 90%;
  display: flex;
  overflow-x: hidden;
  margin-left: 185px;
}

/* Combined Section: Profile and Degree Progress */
.main-content {
  margin: 10px 10px 10px 15px;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-degree-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.profile-section {
  margin: 15px 7px 15px 15px;
  width: 50%;
  margin-right: 10px;
  padding: 1px 0px 20px 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.degree-progress-section {
  margin: 15px 15px 15px 7px;
  width: 50%;
  padding-left: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/************************************ Section 2: Completed Courses ***************************************/
.section-2 {
  background-color: white;
  margin-left: 15px;
  margin-right: 10px;
  padding: 1px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.section-2:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.075);
}

/*********************************** Search Bar Container ***********************************/
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
}

.search-bar {
  flex-grow: 1;
  padding-right: 30px;
  padding: 10px;
  font-size: 15px;
  background-color: #F8F8F8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*********************************** Logout Button ***********************************/
.logout-btn {
  padding: 8px 15px;
  background-color: #d6001c;
  height: 39px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  margin: 13px 20px 10px 20px;
  border: none;
}

/******************************* Academic Requirements Section **************************************/
.requirements-section {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.requirements-content {
  margin: 10px 10px 10px 15px;
  padding: 15px;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-content {
  padding: 5px;
  margin-top: 5px;
  display: none;
}

.requirements-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  table-layout: fixed;
}

.requirements-section:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.075);
}

.requirements-table th,
.requirements-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #F8F8F8;
  white-space: nowrap;
}

.requirements-table th {
  font-size: 17px;
  height: 14px;
  background-color: #d6001c;
  color: white;
  text-transform: uppercase;
}

.requirements-table tr:nth-child(even) {
  background-color: #F8F8F8;
}

.requirements-table tr:first-child th {
  min-height: 10px;
  line-height: 10px;
}

.incomplete-row {
  background-color: #F8F8F8;
}

.home-main-content h1 {
  margin-top: 70px;
  border-bottom: 2px solid #ddd;
  }

/* Reduce Section Tab Height */
.requirements-section h2 {
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  background-color: #F2F2F2;
  color: #222;
  border-radius: 5px;
  margin: 4px 0;
  transition: background 0.5s ease;
}

.arrow {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

/* General styling for all progress circles */
.progress-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 20%;
  vertical-align: middle;
}

/* Completed: Green */
.completed {
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 5px;
  background-color: #2ecc71;
}

/* In-progress: Yellow */
.in-progress {
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 5px;
  background-color: #ffc107;
}

/* Incomplete: Red */
.incomplete {
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 5px;
  background-color: #d6001c;
}

/* Progress Bar Container */
.progress-container {
  width: 100%;
  max-width: full;
  margin: 20px 0;
  text-align: left;
}

.progress-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

/* Main Bar Background */
.progress-bar {
  width: 100%;
  height: 12px;
}

/* Completed Courses (Green) */
.progress-completed {
  height: 100%;
  background-color: #2ecc71;
  position: absolute;
  left: 0;
  top: 0;
}

/* In-progress Courses (Yellow) */
.progress-in-progress {
  height: 100%;
  background-color: #ffc107;
  position: absolute;
  top: 0;
}

/* In-completed Courses (Red) */
.progress-incomplete {
  height: 100%;
  background-color: #d6001c;
  position: absolute;
}

.sorting-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -10px 0px 5px 0px;
}

#sort-options {
  padding: 5px;
  font-size: 16px;
  border: 2px solid #F8F8F8;
  border-radius: 5px;
  width: 141px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}